<h1>Add A New Director</h1>

  <form action="http://localhost:3000/add_director">
    <div>
      <label for="title">Name</label>
      <input placeholder="Enter name here:" name="name" type="text" id="name">
    </div>

    <div>
      <label for="dob">dob</label>
      <input name="dob" type="text" id="dob">
    </div>

    <div>
      <label for="bio">Bio</label>
      <textarea name="bio" id="bio">
      </textarea>
    </div>

    <div>
      <label for="picture">Image URL</label>
      <input name="the_image_url" type="text" id="picture">
    </div>

    <div>
      <input type="submit" value="Create Director">
      or <a href="/directors">Cancel</a>
    </div>
  </form>
